### Info:
Date: 09/04/2026
Subject: Poster for NMSUM

### Tags: 
[[muon]] 
[[MuSR]]
[[NMSUM]]
### Summary:
This is the poster used for the NMSUM conference.
### Link:
[[pdf-BT - NMSUM Poster Presentation - single slide.pdf]]
![[pdf-BT - NMSUM Poster Presentation - single slide.pdf]]

