The long stave was booted by navigating to the beamline gui files held within idaaas. then botted using the following command. 

```

```